
<section class="widget" widget>
	<header>
		<h3><span class="fw-semi-bold">{{"Translation.System Configuration" | translate}} </span></h3>
		<div class="other_btns">
			<button  class="add_new_btn" id="btnNew" data-toggle="modal" (click)="onNewAction()"
			 data-target="#add_new" type="button" data-backdrop="static" title="{{'Translation.Add' | translate}}" ><i class="fa fa-plus" aria-hidden="true"></i> </button>
		</div>
	</header>

	<div class="table_container">
		<wj-flex-grid [itemsSource]="itemsList" [isReadOnly]="true" [selectionMode]="'Row'" [autoSizeMode]="'Headers'" [headersVisibility]="'Column'"
		 style="height: 320px;" #flex>
			<wj-flex-grid-filter [filterColumns]="['sectorCode', 'sectorName','desc','active']"></wj-flex-grid-filter>
			<wj-flex-grid-column [header]="'Sr. #'" [align]="'left'" [binding]="'srNo'" [width]="'0.5*'" [minWidth]="30"></wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.Parameter' | translate" [align]="'left'" [binding]="'name'" [width]="'0.5*'" [minWidth]="30"></wj-flex-grid-column>
			<wj-flex-grid-column [header]="'Translation.Value' | translate" [align]="'left'" [binding]="'valueStr'" [width]="'0.5*'" [minWidth]="30"></wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Common.Action' | translate" [width]="'0.2*'" [align]="'center'" [minWidth]="30"  >
				<ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
				 
					 <img src="assets/img/edit_orange.png" class="gridImg" title="{{'Translation.Edit' | translate}}" (click)="onEditAction()" data-target="#add_new" data-toggle="modal" data-backdrop="static"/>
				</ng-template>
			</wj-flex-grid-column>
			 
		</wj-flex-grid>
	</div>
	<div class="row"></div>
	<div class="btn-group col-xs-12 align-right">
		<!-- Paginator -->
		<wj-collection-view-pager [cv]="flex?.collectionView"></wj-collection-view-pager>
		<!-- page size -->
		<wj-menu [(value)]="pageSize" [header]= "'Common.Page Size' | translate">
			<wj-menu-item [value]="0">{{ 'Common.No Paging' | translate }}</wj-menu-item>
			<wj-menu-item [value]="5">5 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="10">10 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="20">20 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="30">30 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="50">50 {{ 'Common.items' | translate }}</wj-menu-item>
			<wj-menu-item [value]="100">100 {{ 'Common.items' | translate }}</wj-menu-item>
		</wj-menu>
	</div>
</section>
<!--</div>
</div>-->

<div id="add_new" class="modal fade" role="dialog" data-keyboard="true">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<form class="form-horizontal form-label-left parsleyjs" data-parsley-priority-enabled="false" role="form" [formGroup]="myForm"
			 novalidate (ngSubmit)="onSaveAction(myForm.value, myForm.valid)">
				<div class="modal-body modal-no-border">
					<div class="row setup_box_container">
						<div class="col-md-3 col-sm-5 modal_left">
							<div class="wizard_Logo">
								<img src="assets/img/Sectors.png" class="formImg"/>
								<h4>{{"Translation.System Configuration" | translate}}</h4>
								<p>{{"Translation.Management of System Configurations" | translate}}</p>
							</div>
						</div>
						<div class="col-md-9 col-sm-7 modal_center">
							<div class="row" style="margin: 40px 40px 0px 40px">
								<div class="col-sm-6 fields_box">
									<label for="parameter">{{"Translation.Parameter" | translate}} <span class="validation">*</span></label>
                                     <wj-combo-box class="wijmo_style" tabindex="11" id="parameter" formControlName="parameter" [isEditable]="true" [itemsSource]="paramtersList"
                                     displayMemberPath="name" selectedValuePath="value" [(ngModel)]="selectedItem.name"
                                     [isRequired]="true" required  ></wj-combo-box>
									<div *ngIf="myForm.controls['parameter'].hasError('required')" [hidden]="myForm.controls.parameter.valid || (myForm.controls.parameter.pristine && !isSubmitted)"
									 class="text-danger">{{"Translation.Parameter" | translate}} {{"Translation.is required" | translate}}.</div>
								</div>
								<div class="col-sm-6 fields_box">
									<label for="scValue">{{"Translation.Value" | translate}} <span class="validation">*</span></label>
                                    <wj-combo-box class="wijmo_style" tabindex="11" id="scValue" formControlName="scValue" [isEditable]="true" [itemsSource]="valuesList"
                                    displayMemberPath="name" selectedValuePath="value" [(ngModel)]="selectedItem.value"
                                    [isRequired]="true" required  ></wj-combo-box>
									<div *ngIf="myForm.controls['scValue'].hasError('required')" [hidden]="myForm.controls.scValue.valid || (myForm.controls.scValue.pristine && !isSubmitted)"
									 class="text-danger">{{"Translation.Value" | translate}} {{"Translation.is required" | translate}}.</div>
								</div>
							
								

							</div>
						</div>
					</div>
				</div>

				<div class="orange_footer_small">
					<button id="btnSave"  type="submit" class="save_btn" *ngIf="!isEditing">{{"Common.Save" | translate}}</button>
					<button id="btnEdit"  type="submit" class="save_btn" *ngIf="isEditing">{{"Common.Update" | translate}}</button>
					<button id="btnCancel"  type="button" data-dismiss="modal" class="cancel_btn" (click)="onCancelAction()">{{"Common.Cancel" | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>

<dialog-cmp #dialogCmp (btnClick)="getNotification($event)"> </dialog-cmp>