<!-- new design -->
<div class="w-100 overflow-y-hidden">

    <div class="flex   w-full justify-end">
        <button mat-icon-button (click)="onCloseDialog()">
            <mat-icon class="text-current mt-1 -mr-1 " [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- <div class="flex justify-center ">
        <img src="assets/images/logo/marlinNewLogo.png" class="mr-4 "
            style="height: 27px; width: 122px; margin-top: 4px;margin-left: 5px;" />
    </div> -->

    <div class="flex justify-center text-3xl font-medium text-primary  font-serif">
        {{'Change Password' | transloco}}
    </div>
    <form [@animate]="{value:'*', params:{delay:'50ms',scale:'0.2'}}" class="mt-8 pl-10 pr-10 pb-6"
        [formGroup]="updatePassswordForm">
        <mat-form-field class="w-full">
            <mat-label>{{'Current Password' | transloco}}</mat-label>
            <input matInput type="password" [formControlName]="'currentPassword'" #currentPassword>

            <mat-icon aria-hidden="false" aria-label="Example home icon" class="cursor-pointer" type="button"
                (click)="currentPassword.type === 'password' ? currentPassword.type = 'text' : currentPassword.type = 'password'"
                matSuffix>remove_red_eye</mat-icon>

            <mat-error>
                {{'Password is required' | transloco}}
            </mat-error>
            
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>{{'New Password' | transloco}}</mat-label>
            <input matInput type="password" [formControlName]="'password'" #newPassword>

            <mat-icon aria-hidden="false" aria-label="Example home icon" class="cursor-pointer" type="button"
                (click)="newPassword.type === 'password' ? newPassword.type = 'text' : newPassword.type = 'password'"
                matSuffix>remove_red_eye</mat-icon>

            <mat-error *ngIf="updatePassswordForm.get('password').hasError('required')">
                {{'Password is required' | transloco}}
            </mat-error>
            <mat-error *ngIf="updatePassswordForm.get('password').hasError('pattern')">
                {{'Password must be Alpha numeric and length should be greater than 8' | transloco}}
            </mat-error>

        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>{{'Confirm New Password' | transloco}}</mat-label>
            <input matInput type="password" [formControlName]="'confirmPassword'" #confirmPasswordField>

            <mat-icon aria-hidden="false" aria-label="Example home icon" class="cursor-pointer" type="button"
                (click)="confirmPasswordField.type === 'password' ? confirmPasswordField.type = 'text' : confirmPasswordField.type = 'password'"
                matSuffix>remove_red_eye</mat-icon>

            <mat-error *ngIf="updatePassswordForm.get('confirmPassword').hasError('required')">
                {{'Confirm Password' | transloco}} {{'Translation.is required' | transloco}}
            </mat-error>
            <mat-error *ngIf="updatePassswordForm.get('confirmPassword').hasError('mismatch') && !updatePassswordForm.get('confirmPassword').hasError('required')">
                {{'Password mismatched' | transloco}}
            </mat-error>

        </mat-form-field>

        <div class="w-full flex justify-center mt-4">
            <button class="btn btn-md w-full font-bold updateHover" type="button" (click)="onUpdatePassword()"
                [ngStyle]="{'backgroundColor' : '#13406A'}">{{'Update' | transloco}}</button>
        </div>
    </form>
</div>